table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.deleteButton {
    background: red;
    color: white;
    font-size: 12pt;
}
.editButton {
    background: blue;
    color: white;
    font-size: 12pt;
}
.addButton {
    background: green;
    color: white;
    font-size: 12pt;
}
.mainMenuButton {
    background: darkgrey;
    color: black;
    font-size: 12pt;
}
.logoutButton {
    background: purple;
    color: black;
    font-size: 12pt;
}