<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="firstName">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
    <br/>
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Surname Error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>Role:
        <select multiple="multiple" name="role" required="required">
            <option value="1">ADMIN</option>
            <option selected value="2">USER</option>
        </select>
        <br/>
        <br/>
        <input type="submit" th:class="addButton" value="Add"/>
    </label>
</form>
<br>
<form th:method="GET" th:action="@{/admin}">
    <input type="submit" th:class="mainMenuButton" value="Main menu">
</form>
<br/>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" th:class="logoutButton" value="Logout">
</form>
<br/>
</body>
</html>